<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<h1>Nový pojištěnec</h1>

<form class="d-flex flex-column gap-2"
      method="post"
      th:action="@{/insured/create}"
      th:object="${insuredDTO}">
  <div class="form-group">
    <label for="name" class="control-label">Zadejte jméno</label>
    <input id="name" th:field="*{name}" class="form-control"/>
    <small class="text-danger" th:errors="*{name}"></small>
  </div>
  <div class="form-group">
    <label for="surname" class="control-label">Zadejte příjmení</label>
    <textarea id="surname" class="form-control" th:field="*{surname}"></textarea>
    <small class="text-danger" th:errors="*{surname}"></small>
  </div>
  <div class="form-group">
    <label for="city" class="control-label">Zadejte město</label>
    <textarea id="city" class="form-control" th:field="*{city}"></textarea>
    <small class="text-danger" th:errors="*{city}"></small>
  </div>
  <div class="form-group">
    <button type="submit" class="insurance-tlacitko">Vytvořit</button>
  </div>
  <a class="insurance-tlacitko" th:href="@{/insured}">Zpět</a>
</form>


<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>